<div data-ng-if="albumPickerCtrl.album" class="selected-album">
    <img ng-src="{{albumPickerCtrl.album.imageUrlSmall||'/img/phones.png'}}" />
    <p><strong>{{albumPickerCtrl.album.albumName}}</strong></p>
    <p>{{albumPickerCtrl.album.artist.name}}</p>
    <div stlye="clear:all;">
        <button class="btn btn-default" data-ng-click="removeAlbum()">Remove</button>
    </div>
    <ul class="list-group track-list">
        <li class="list-group-item" data-ng-repeat="track in albumPickerCtrl.selectedAlbumTrackList">
            {{track.trackNumber}}. {{track.name}} <span class="pull-right">({{track.length}})</span>
        </li>
    </ul>
</div>